@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Asp.Net application deployed in Azure portal.</p>
    <p>Added this line suppose to check in as well.</p>
    <p>This additional line has been pushed via GitHub CI/CD pipeline. This changes has been added from DEV branch needs to push in to Master in GIT.</p>
</div>
